/* Hampurilaisvalikon sijainti oikeassa reunassa pienillä näytöillä */
@media (max-width: 576px) {
    .navbar-custom .navbar-collapse {
        justify-content: flex-end;
    }
}

/* navipalkon väri*/
.navbar-custom {
    background-color: #e0d2c3;

/*navipalkin linkin väri*/
}
.navbar-custom a {
    color: #4f4b46;
}

/* aktiivisen & hover-linkin väri */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #576e62;
}

/*hampurilaiskuvion väri*/
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#bfacb3' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
/*reubuksen väri*/
.custom-toggler .navbar-toggler {
    border-color: #576e62;
}

/*alasvetovalikko*/
.dropdown .dropdown-item {
    color: #4f4b46 !important;
}